[data-md-color-scheme="aiverde"] {
    --md-primary-fg-color:  #15224b;
    --md-accent-fg-color:   #2bb575;
    /* --md-primary-fg-color--light: #2bb575;
    --md-primary-fg-color--dark:  #15224b;   */
  }